@import "assets/hack.css";

:root {
    --theme-bright: #f9f5eb;
    --theme-text: #5b4636;
    --theme-default: #f4ecd8;
    --theme-link: #0095dd;
    --theme-link-visited: #c2e;
}

a:visited {
    color: var(--theme-link-visited);
}

a {
    color: var(--theme-link);
}

html {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--theme-text);
    background-color: var(--theme-default);
}

body {
    padding: 1em;
    margin: auto;
}

pre {
    white-space: pre-wrap;
}

body {
    font-size: 18px;
}

p {
    margin-block-start: 0;
}

p + p, section + section, table + table, table + p, p + table {
    margin-block-start: 1em;
}



aside {
    width: inherit;
}

.publish-date {
    font-size: 14px;
    margin-top: 1em;
}

code {
    font-family: Hack, monospace;
    background-color: rgba(0,0,0, 0.05);
}

.nowrap {
    white-space: nowrap;
}

.cardbox {
    flex-direction: column;
    justify-content: space-around;
    margin: -0.5em;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.cardbox .card {
    max-width: initial;
    background-color: var(--theme-bright);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    padding: 1em;
    margin: 0.5em;
    display: block;
    text-decoration: none;
    color: var(--theme-text);
    flex-grow: 1;
}

.cardbox .card header {
    font-size: 1.3em;
    font-weight: bold;
}

.cardbox .card p {
    margin: 0;
}


@media only all and (min-width: 82ch) {
    body {
        line-height: 1.4;
        font-size: 16px;
        max-width: 80ch;
    }

    .publish-date {
        font-size: 12px;
    }

    aside {
        width: 30%;
        min-width: 10em;
        background-color: rgba(0,0,0, 0.1);
        float: right;
        padding: 1em;
        margin: 1em;
    }

    .cardbox {
        display: flex;
        flex-direction: row;
    }

    .cardbox .card {
        max-width: 35ch;
    }

}

@media only all and (min-width: 1920px) {
    body {
        line-height: 1.4;
        font-size: calc(14px + 0.2vmax);
        max-width: 80ch;
    }

    .publish-date {
        font-size: calc(10px + 0.2vmax);
    }

    aside {
        width: 30%;
        min-width: 10em;
        background-color: rgba(0,0,0, 0.1);
        float: right;
        padding: 1em;
        margin: 1em;
    }
}

.blog-feed-item h2 a {
    color: #5b4636;
    text-decoration: none;
}

.blog-feed-item h2 a:visited {
    color: #5b4636;
    text-decoration: none;
}

nav .navitem {
    padding-right: 0.5em;
}

nav .navitem + .navitem a {
    padding-left: 0.5em;
}

nav .navitem + .navitem::before {
    content: "|";
}

/* h1 */
article > header {
    display: block;
    font-weight: bold;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

/* h2 */
article > section > header {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

/* h3 */
article > section > section > header {
    display: block;
    font-weight: bold;
    font-size: 1.17em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

/* h4 */
article > section > section > section > header {
    display: block;
    font-weight: bold;
    font-size: 1em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

.code-sample {
    font-family: Hack, monospace;
    background-color: var(--theme-bright);
    border-radius: 0.2em;
    counter-reset: line;
    padding: 0.5em;
    border-left: 0.2em solid var(--theme-text);
    border-bottom: 0.2em solid var(--theme-text);
}

.code-sample pre {
    margin: 0;
    padding: 0;
}

code:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    padding-right: 0.3em;
    min-width: 3ch;
}

.code-sample > pre:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    padding-right: 0.3em;
    min-width: 3ch;
}

table {
    border: 1px solid var(--theme-text);
    min-width: 100%;
    margin: 0;
    background-color: var(--theme-bright);
    border-radius: 0.5rem;
    border-spacing: 0;
}

table td {
    padding: 0.2em;
}

table td + td, table th + th {
    margin: 0;
    border-left: 1px solid var(--theme-text);
}

table th, table td {
    padding: 0.3em;
    text-align: left;
    vertical-align: top;
}

table tr:not(:first-child) td {
    border-top: 1px solid var(--theme-text);
}
